@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);
*{
    margin: 0;
    padding: 0;
}

body{
    display: block;
}

body, .box{
    margin: auto;
}

.box, .box-input-group{
    position: relative;
}

html{
    background-color: #f1f1f1;
    font-family: "Roboto";
}

/* Box Login */
.box{
	height: 375px;
    top: 50px;
	left: 0;
	z-index: 200;
	right: 0;
	width:400px;
	color:#666;
	border-radius: 3px;
	background: #FFF;
    margin-bottom: 100px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    overflow: hidden;
}

/* Box Header */
.box .box-header h1{
    margin-top: 10px;
    margin-left: 40px;
    padding-bottom: 30px;
    font-size:25px;
    font-weight: 300;
    color: #607d8b;
}

/* Box Input Group */
.box-input-group{
    margin-bottom: 35px; 
    margin-left: 40px;
}

/* Box Input Field */
.box-input-field{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
}


/* Box Input Field Focus */
.box-input-field:focus{
    outline:none;
}

/* Box Input Field label */
label{
    color:#999; 
    font-size:14px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}

/* Box input field active */

.box-input-field:focus ~ label,
.box-input-field:valid ~ label{
    top:-20px;
    font-size:14px;
    color: #009688;
}

.box-input-field:focus ~ .box-input-bar:before,
.box-input-field:focus ~ .box-input-bar:after{
    width:50%;
}

.box-input-field:focus ~ .box-input-line{
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}

/* Box Button */
.box button{
	background: #cfd8dc;
	border:0;
	color: #009688;
	padding:10px;
	font-size: 16px;
    font-weight: 300;
	width:330px;
	margin:20px auto;
	display:block;
	cursor:pointer;
    -webkit-transition: all 0.4s;
	transition: all 0.4s;
	border-radius: 2px;
}

/* Box Button Active */
.box button:active{
	background: #009688;
    color: #263238;
}

.box button:hover{
	background: #009688;
    color: #FFF;
    -webkit-transition: all 0.4s;
	transition: all 0.4s;
}

/* ANIMATIONS */
@-webkit-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
	from { background:#5264AE; }
  to 	{ width:0; background:transparent; }
}

