@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);
*{
    margin: 0;
    padding: 0;
}

body{
    display: block;
}

body, .box, .footer-box, .footer-box-text, .header,span.logTime, span.logo, ul.breadcrumb, .footer{
    margin: auto;
}

.box, .box-input-group, .header, .header a{
    position: relative;
}

span.err,
.footer-box-text,
footer,
span.logo,
.left-menu-items,
.left-menu-items-sub,
.footer{
    text-align:center;
}

html{
    background-color: #f1f1f1;
    font-family: "Roboto";
}

/* Box Login */
.box{
	height: 400px;
    top: 90px;
	left: 0;
	z-index: 200;
	right: 0;
	width:400px;
	color:#666;
	border-radius: 3px;
	background: #FFF;
    margin-bottom: 100px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    overflow: hidden;
}

/* Box Header */
.box .box-header h1{
    margin-top: 6%;
    margin-bottom: 4%;
    margin-left: 11%;
    padding-bottom: 8%;
    font-size:25px;
    font-weight: 300;
    color: #607d8b;
}

/* Box Input Group */
.box-input-group{
    /* margin-top:50px; */
    margin-bottom: 42.5px; 
    margin-left: 40px;
}

/* Box Input Field */
.box-input-field{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:block;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
}


/* Box Input Field Focus */
.box-input-field:focus{
    outline:none;
    border-bottom-color: #009688;
}

/* Box Input Field label */
label{
    color:#999; 
    font-size:14px;
    font-weight:normal;
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}

/*, .box-input-field ~ label*/
.box-input-field:focus ~ label,
.box-input-field:valid ~ label{ 
    top:-20px;
    font-size:14px;
    color: #009688;
}

/* Box input field Error */
.box-input-field-error,
.box-input-field-error:focus{
    border-bottom-color: red !important;
}

/* Box input field Error Label */
.box-input-field-error ~ label,
.box-input-field-error:focus ~ label{
    color: red !important;
}

/* Box Button */
.box button{
	background: #cfd8dc;
	border:0;
	color: #009688;
	padding:10px;
	font-size: 16px;
    font-weight: 300;
	width:330px;
	margin:20px auto;
	display:block;
	cursor:pointer;
    -webkit-transition: all 0.4s;
	transition: all 0.4s;
	border-radius: 2px;
}

/* Box Button Active */
.box button:active{
	background: #009688;
    color: #263238;
}

.box button:hover{
	background: #009688;
    color: #FFF;
    -webkit-transition: all 0.4s;
	transition: all 0.4s;
}

/* span err */
span.err{
    vertical-align: middle;
    color: red;
    font-size: 10pt;
    position: absolute;
    padding: 1%;
}

/* Footer Box */
.footer-box{
    width: 100%;
    height: 50px;
    background: #00695c;
    position: absolute;
    bottom: 0;
}

/* Footer Box Text */
.footer-box-text{
    color: #cfd8dc;
    vertical-align: middle;
    padding: 14px;
}

/* a tag */
a{
    vertical-align: middle;
    text-decoration: none;
}
.footer-box-text a:active{
    color:#f1f1f1;
}
.footer-box-text a:visited{
    color: #cfd8dc;
}
.footer-box-text a:hover{
    color: #ffffff;
}

/* footer */
footer{
    position: absolute;
    bottom: 5%;
    left: 0;
    right: 0;
}


/* ALERT START ============ */
/* Popup Alert Message */
.alert{
    top:1%;
    left:0;
    right: 0;
    position: absolute;
    width: 40%;
    padding: 20px;
    color: white;
    margin-bottom: 15px;
    margin: auto;
    border-radius: 150px;
    transition: 0.1s;
}

/* Popup Alert Close Btn */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.4s;
}

/* mouse over the close btn */
.closebtn:hover {
    color: black;
}

/* alert backgrounds */
.alert-danger{
    background-color: #f44336;
}
.alert-success{
    background-color: #009688;
}
.alert-info{
    background-color: #2196F3;
}
.alert-warning{
    background-color: #ff9800;
}
/* ALERT END ============ */

/* Clear Floating */
.clear{
    clear: both;
}

/* Other Pages Heaser */
.header{
    width: 100%;
    height: 45px;
    background-color: #ffffff;
    color: #006988;
    /* padding: 0px; */
    box-shadow:  0 2px 6px rgba(0,0,0,0.30);
    transition:0.2s ease all; 
    -moz-transition:0.2s ease all; 
    -webkit-transition:0.2s ease all;
}
/* Logout Btn */
.header a{
    margin-top: -38px;
    background-color: #cfd8dc;
    color: #009688;
    margin-left: 94%;
    padding: 0.4%;
    border-radius: 5%;
    vertical-align: middle;
    display: inline-block;
}
.header a:hover{
    background: #009688;
    color: #FFF;
}
/* Last Login Time */
.header span.logTime{
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 0px;
    display: inline-block;
    margin-left: 75%;
    font-size: 10.5pt;
    vertical-align: middle;
    text-shadow:0 2px 6px rgba(0,0,0,0.60);
}
/* Header Logo */
.header span.logo{
    width: 18%;
    background-color: #009688;
    display: inline-block;
    color: #f1f1f1;
    position: absolute;
    height: 84%;
    font-size: 20pt;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    vertical-align: bottom;
    margin-top: 0px;
    padding-top: 7px;
    box-shadow:  0 2px 6px rgba(0,0,0,0.30);
    text-shadow: 0 2px 6px rgba(0,0,0,0.80);
}

/* Left Menu */
.left-menu{
    position: fixed;
    width: 18%;
    height: 100%;
    background-color: #ffffff;
    box-shadow:  0 8px 5px rgba(0,0,0,0.30);
}
/* Menu Items */
.left-menu-items, .left-menu-items-sub{
    width: 90%;
    height: 3.5%;
    padding:5% 0% 5% 0%;
    display: block;
}
.left-menu-items{
    margin: 5% 5% 0% 5%;
    background-color: #cfd8dc;
    color: #263238;
    box-shadow:  0 3px 6px rgba(0,0,0,0.30);
    /* text-shadow: 0 2px 6px rgba(0,0,0,0.50); */
}
.left-menu-items a,.left-menu-items-sub a{
    color: #009688;
    cursor: pointer;
}
.left-menu-items a:hover,.left-menu-items-sub a:hover{
    color: #ffffff;
    cursor: pointer;
}
/* Left Sub Menu Intems */
.left-menu-items-sub{
    background-color: #263238;
    color: #cfd8dc;
    margin: 0% 5% 0% 5%;
    border-bottom: 0.5px solid rgba(255, 255,255, 0.3);
    cursor: pointer;
}

.menu-active{
    background-color: #009688;
    color: #f1f1f1;
}
.sub-menu-active{
    background-color: #f44336;
    color: #f1f1f1;
}
.right-main{
    float: right;
    right: 5px;
    width: 82%;
    height: 100%;
    position: fixed;
    overflow-x:hideen;
}

/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #fff;
    border-radius: 5px;
    width: 95%;
    margin-top: 1%;
    box-shadow: 0 3px 6px rgba(0,0,0,0.30);
    color: #009688;

}

/* Display list items side by side */
ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* page footer */
.footer{
    position: fixed;
    bottom: 0%;
    width: 100%;
    vertical-align: middle;
}