@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);
*,
ul.main-menu,
ul.sub-menu,
#return-to-top i {
    margin: 0;
    padding: 0;
}

body,
header,
footer,
.header-logo,
.header-cart,
.header-user,
.header-menu,
.container-vertical-list,
.container-horizontal-list,
.addToCart,
.moreDetails,
.card,
.list-header,
.card-qty,
.cart-body,
.cart-header,
.cart-empty,
.cart-text,
.address-menu,
.pro-header,
.edit,
.cancel,
.change {
    margin: auto;
}

body,
header,
footer,
.header-logo,
.header-cart,
.header-user,
.header-menu,
.container-vertical-list,
.container-horizontal-list,
.header-cart img,
.addToCart,
.moreDetails,
.card,
.card-qty,
.cart-body,
.cart-header,
.cart-empty,
.cart-text,
.address-menu,
.profile-user-img,
.pro-header,
.edit,
.cancel,
.change {
    vertical-align: middle;
}

body,
header,
footer,
.header-logo,
.header-cart,
.header-user,
.header-menu,
.container-vertical-list,
.container-horizontal-list,
.addToCart,
.moreDetails,
.card,
.card-qty,
.list-header,
.cart-body,
.cart-empty,
.cart-text {
    text-align: center;
}

html {
    background-color: #f1f3f6;
    font-family: "Roboto";
}

a,
li a,
.dropbtn,
.dropdown-content a,
#return-to-top,
.address-menu {
    text-decoration: none;
}

header,
footer {
    background-color: #009688;
}

header,
footer,
.itemCount,
li a,
.dropbtn,
.addToCart,
.moreDetails,
a.main-logo:visited,
a.main-logo:active,
a.main-logo:any-link,
#return-to-top:hover i,
#return-to-top i {
    color: #ffffff !important;
}

footer a {
    color: rgb(46, 23, 252);
}

header,
footer,
.addToCart,
.moreDetails,
.container-vertical-list,
.container-horizontal-list {
    padding: 1%;
}

.header-logo {
    font-size: 18px;
}

.header-logo,
.card {
    float: left;
}

.clear {
    clear: both;
}

header {
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);
}

footer {
    border-top: 0.5px solid rgba(255, 255, 255, 0.3);
}

.header-cart,
.header-user {
    float: right;
}

.header-cart,
.header-user {
    width: 80px;
}

.itemCount {
    font-size: 80%;
    background-color: #e74c3c;
    top: 5%;
    -webkit-transform: translate(-50%, -90%);
    -moz-transform: translate(-50%, -90%);
    transform: translate(-50%, -90%);
    padding: 0 5%;
    border-radius: 1000px;
}

.container {
    padding: 5px;
    min-height: 512px;
    max-height: initial;
}

header {
    box-shadow: 0 2px 12px rgba(255, 255, 255, 0.815);
}

ul.main-menu,
ul.sub-menu {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

li {
    margin-left: 1%;
    margin-right: 1%;
    text-align: center;
}

li a,
.dropbtn {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content,
#return-to-top {
    display: none;
}

.dropdown-content {
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a,
.cart-header {
    padding: 12px 16px;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.dropdown:hover .dropdown-content,
.dropdown-content a,
.list-header,
.cart-body,
.address-menu,
.profile-user-menu-main,
.profile-user-menu-sub,
.profile-user-menu-main a,
.profile-user-menu-sub a {
    display: block;
}

.container-vertical-list,
.pofile-body,
.profile-user,
.profile-user-menu-main,
.input-group {
    display: flex;
}

.container-vertical-list,
.container-horizontal-list {
    overflow-x: auto;
    min-height: 360px;
    margin: 0.5%;
    margin-bottom: 1.5%;
}


/* card view start */

.card,
.list-header,
.cart-body,
.address-menu,
.profile-user-menu,
.profile-right,
.profile-user {
    background-color: #ffffff;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    min-width: 19.2%;
    margin: 8px 5px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card img {
    width: 241.5px;
    height: 250px;
    border-radius: 5px 5px 0 0;
}

.card hr {
    margin: 5px;
}

.card-qty,
#return-to-top {
    width: 50px;
}

.card-qty {
    border: 1px solid black;
}

.card-qty,
.card,
.list-header {
    border-radius: 5px;
}

.card-container {
    padding: 2px 16px;
}


/* vertical line */

.vl {
    padding: 0 1%;
}

.addToCart,
.moreDetails,
ul.main-menu,
ul.sub-menu {
    background-color: #333;
}

.addToCart,
.moreDetails,
.cart-text,
.cart-empty {
    padding: 2%;
    margin: 1%;
}


/* card view end */

.list-header {
    padding: 10px 16px;
    width: 95%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .30);
    color: #009688;
}

.header-cart:hover,
.header-user:hover {
    cursor: pointer;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.7);
    height: 50px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    -webkit-transition: all 0.3s linear;
}

#return-to-top,
#return-to-top i {
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.container,
#return-to-top i,
.pofile-body {
    position: relative;
}

#return-to-top i {
    /* left: 16px; */
    top: 16px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
}

#return-to-top:hover {
    background: rgba(0, 0, 0, 0.9);
}

#return-to-top:hover i {
    top: 12px;
}

.cart-body {
    min-height: 420px;
    max-height: initial;
    width: 95%;
}

.cart-body,
.cart-header,
.profile-user,
.profile-user-menu-main,
.profile-right {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
}

.cart-body {
    margin-top: 25px;
}

.cart-body,
.dropdown-content a {
    color: black !important;
}

.cart-header,
.list-header {
    margin-top: 1%;
}

.cart-empty {
    width: 20%;
}

.cart-text {
    font-size: 20px;
}

.cart-header {
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.5);
}

.dropdown-content,
.address-menu {
    position: absolute;
}

.dropdown-content,
.address-menu {
    z-index: 1;
}

.container-vertical-list,
.container-horizontal-list,
.address-menu {
    white-space: nowrap;
}

.container-vertical-list,
.container-horizontal-list .address-menu {
    border-radius: 3px;
}

.cart-body,
.address-menu {
    border-radius: 2px;
}

.address-menu {
    list-style-type: none;
    /* display: none; */
    font-size: 14px;
    color: #878787;
    border: 1px solid rgba(0, 0, 0, .05);
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, .12), 0 1px 3px 0 rgba(0, 0, 0, .18);
    /* right: 23px; */
    padding: 5px;
    /* top: 10px; */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
}

.address-menu-item {
    padding: 7px 12px;
    color: #212121;
}

.address-menu-item:hover,
.profile-user-menu-main a:hover,
.profile-user-menu-sub a:hover,
i.menu-icon,
.profile-user-menu-sub .menu-active,
.edit,
.cancel,
.change {
    color: #2874f0 !important;
}

.profile-body,
.profile-user-menu-main,
.input-group {
    display: -webkit-flex;
}

.profile-body,
.profile-user-menu-main,
.input-group {
    display: -ms-flexbox;
}

.profile-body,
.profile-user,
.profile-user-menu-main,
.input-group {
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.pofile-body {
    margin: auto;
    max-width: 1366px;
    min-width: 1128px;
    overflow: hidden;
    padding: 14px 64px 0;
    width: 80%;
    margin-top: 16px;
}

.profile-left {
    width: 22%;
    margin-left: auto;
    margin-right: auto;
}

.profile-user,
.profile-user-menu,
.profile-right {
    margin-bottom: 16px;
}

.profile-user {
    padding: 12px;
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
}

.profile-user-img,
.profile-user-right,
.dropdown-content a,
.cart-header,
.pro-header,
.edit,
.cancel,
.change,
.personal-info-lable {
    text-align: left;
}

.profile-user-img {
    vertical-align: middle;
    width: 50px;
    height: 50px;
}

.profile-user-right {
    padding: 5px 0 0 16px;
    width: calc(80% - 50px);
}

.profile-user-right>.txt-hello {
    font-size: 12px;
}

.profile-user-right>.txt-hello+.txt-name {
    padding-top: 3px;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: bold;
}

.profile-user-menu {
    border-radius: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
}

.profile-user-menu-main {
    width: 100%;
}

.profile-user-menu-main {
    padding-top: 12px;
    padding-bottom: 12px;
    /* padding: 20px 12px 5px 24px; */
    padding: 20px 12px 12px 20px;
    width: calc(100% - 26px);
    padding-left: 20px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

i.menu-icon {
    width: 20px !important;
    height: 20px !important;
}

.profile-user-menu-main,
.profile-user-menu-main a,
.profile-user-menu-sub a {
    color: #878787;
    cursor: pointer;
}

.profile-user-menu-main,
.profile-user-menu-main a {
    padding-left: 15px;
    font-size: 16px;
    font-weight: 500;
}

.profile-user-menu-sub a {
    font-size: 14px;
    padding: 12px 5px 12px 66px;
}

.profile-right {
    width: 70%;
    padding-left: 16px;
    min-height: 300px;
    padding: 24px 32px 0;
    margin-left: auto;
    margin-right: auto;
}

.profile-right-personal-info {
    padding-bottom: 56px;
}

.pro-header {
    font-size: 18px;
    font-weight: 500;
}

.edit,
.cancel,
.change {
    padding-left: 24px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
}


/* ##################### */


/*  Input Group */

.input-group {
    margin-top: 50px;
    margin-bottom: 42.5px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    float: left;
    padding-right: 40px;
}


/* Input is Disabled than label was hide */

input.input-field:disabled+label {
    display: none;
}

input.input-field:enabled+label {
    display: block
}


/*  Input Field */

.input-field {
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #757575;
    padding-bottom: 7px;
    padding-top: 7px;
}


/*  Input Field Focus */

.input-field:focus {
    outline: none;
    border-bottom-color: #009688;
}


/*  Input Field label */

label {
    color: #999;
    font-size: 14px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}


/*, .-input-field ~ label*/

.input-field:focus~label,
.input-field:valid~label {
    top: -20px;
    font-size: 14px;
    color: #009688;
}


/*  input field Error */

.input-field-error,
.input-field-error:focus {
    border-bottom-color: red !important;
}


/*  input field Error Label */

.input-field-error~label,
.input-field-error:focus~label {
    color: red !important;
}


/*  Button */

button {
    background: #cfd8dc;
    border: 0;
    color: #009688;
    padding: 10px;
    font-size: 16px;
    font-weight: 300;
    width: 150px;
    display: block;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
    border-radius: 2px;
}


/*  Button Active */

button:active {
    background: #009688;
    color: #263238;
}

button:hover {
    background: #009688;
    color: #FFF;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
}


/* span err */

span.err {
    vertical-align: middle;
    color: red;
    font-size: 10pt;
    position: absolute;
    padding: 1%;
}

.personal-info-lable {
    padding: 12px 0;
}